@*@{
    ViewBag.Title = "Home Page";
}*@

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta author="Imaan Dolley">
    <title>Glycano 3D</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript" src="Scripts/JSmol.min.js"></script>

</head>
<body style="position: relative;">
    <div class="body-content" style="float:right; width: 50%; height: 100%">
    <!--Main NavBar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%">
        <a class="navbar-brand" href="#">Glycano 3D</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <!-- Button 1 -->
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-palette"></i> Colour Scheme
                        </button>
                        <div id="cDropdown" class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="z-index: 10000"></div>
                    </div>
                </li>
                <li class="nav-item">
                    <!-- Button 2 -->
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 10px">
                            <i class="fas fa-shapes"></i> Representations
                        </button>
                        <div id="rDropdown" class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="z-index: 10000"></div>
                    </div>
                </li>
                <li class="nav-item">
                    @*Button 3*@
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 10px">
                            <i class="fas fa-save"></i> Save...
                        </button>
                        <div id="saveBtns" class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="z-index: 10000;"></div>
                    </div>
                </li>
                <li class="nav-item">
                    @*Button 4*@
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary" type="button" onclick="validate()" style="margin-left: 10px"><i class="far fa-check-circle"></i> Validate</button>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    @*Applet Div*@
    <div class="container" style="width: 100%; height: 450px;">
        <div class="row">
            <div class="col-lg-8">
                <script>
                    //Creates the applet and its border.
                        jmol_isReady = function (applet) {
                            Jmol._getElement(applet, "appletdiv").style.border = "1px solid grey";
                            Jmol._getElement(applet, "appletdiv").style.margin = "auto";
                            Jmol._getElement(applet, "appletdiv").style.left = "0px";
                            Jmol._getElement(applet, "appletdiv").style. top = "0px";
                            Jmol._getElement(applet, "appletdiv").style.position = "absolute";
                            Jmol._getElement(applet, "appletdiv").style.height = "100%";
                            Jmol._getElement(applet, "appletdiv").style.display = "block";
                        }

                        //Gives the JSmol specifications
                        var InfoVar = {
                            width: 450,
                            height: 450,
                            debug: false,
                            color: "black",
                            addSelectionOptions: false,
                            serverURL: "http://glycano.azurewebsites.net/",
                            use: "HTML5",
                            jarPath: "Scripts/java",
                            j2sPath: "Scripts/j2s",
                            jarFile: "Scripts/java/JmolAppletSigned0.jar",
                            isSigned: true,
                            readyFunction: jmol_isReady,
                            script: "",
                            disableInitialConsole: true,
                        }

                        var jmolApplet0 = Jmol.getApplet("jmolApplet0", InfoVar);
                </script>
            </div>
            <div class="col-lg-4" style="background-color: #212529; text-align: center;">
                <!-- Form with text field to input arguments to CarbBuilder -->
                <form method="POST">
                    <div class="form-group">
                        <label for="args" style="color: white">Type CASPER input here:</label>
                        <textarea name="args" class="form-control" id="args" rows="10" style="max-height: 100%; max-width: 100%;"></textarea>
                        <button class="btn btn-primary" type="submit" id="submitButton"><i class="fas fa-plus"></i> Generate 3D</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
                //Opens link to PDB Care to validate molecules
                function validate(){
                    window.open('http://www.glycosciences.de/tools/pdb-care/', '_blank');
                }

                function clearMol() {
                    window.InfoVar.script = "";

                    //Removes the molecule displayed in the applet.
                    Jmol.script(jmolApplet0, "");
                }
                
                //Disables the 'Generate 3D button' when there is no input present.
                $(document).ready(function(){
                    $('#submitButton').attr('disabled',true);
                    $('#args').keyup(function(){
                        if($(this).val().length !=0)
                            $('#submitButton').attr('disabled', false);            
                        else
                            $('#submitButton').attr('disabled',true);
                    })
                });


                //Prevents X-Frame-Options Error
                delete Jmol._tracker;

               
        

                $('#submitButton').click(function (event) {
                    event.preventDefault();
                    //Notifies the user that the molecule is loading
                    swal("Please wait...", "Molecule is loading.", "info");

                    //"->2)aLRha(1->2)aLRha(1->3)aLRha(1->3)bDGlcNAc(1->" -r 6
                    var args = $('#args').val();
                    var data = { Value: args };

                    $.ajax({
                        type: "POST",
                        data: "{data:" + JSON.stringify(data) + "}",
                        url: "/Home/GetValue",
                        contentType: 'application/json; charset:utf-8;',
                        success: function (data) {
                            //Takes the given session ID filename received from the server
                            //Adds the PDB extension to the filename.
                            window.xxxx = "Data/" + data + ".pdb";

                            //Checks if CarbBuilder created the file.
                            //If not, there was an error and error.pdb is returned as the data.
                            $.ajax({
                                url: 'http://glycano.azurewebsites.net/' + window.xxxx, //or your url
                                success: function (data) {
                                    //Updates the JSmol script to reload the applet with the new Molecule File.
                                    window.script = 'load XXXX; spacefill only; spacefill 23%; wireframe 0.15; color cpk;';
                                    window.script = window.script.replace(/XXXX/g, window.xxxx);
                                    window.InfoVar.script = window.script;
                                    window.InfoVar.serverURL = "http://glycano.azurewebsites.net/";

                                    //Changes the molecule displayed in the applet.
                                    Jmol.script(jmolApplet0, window.script);

                                    //Displays once molecule is loaded.
                                    swal("Success", "Molecule was successfully loaded.", "success");
                                },
                                error: function (data) {
                                    swal("Error", "Molecule could not be retrieved. Please try again.\nEnsure that:\n*You added at least one valid monosaccharide in the 2D workspace.\n*Any CASPER notation given does not have errors.\n*Your molecule contains supported residues.\n*Java or Javascript is enabled in your browser.\n*The server is online.\n", "error");
                                },
                            });                                                        
                        },
                        error: function (XHR, text, errorThrown) {
                            //Throws an error if the post doesn't work
                            swal("Error", "Molecule could not be retrieved. Please try again.\nEnsure that:\n*You added at least one valid monosaccharide in the 2D workspace.\n*Any CASPER notation given does not have errors.\n*Your molecule contains supported residues.\n*Java or Javascript is enabled in your browser.\n*The server is online.\n", "error");
                        }
                    });

                });
    </script>

    <script type="text/javascript">
                //Functions for the JSmol buttons on the HTML
                function jmolCheckbox(script1, script0, text, ischecked) { Jmol.jmolCheckbox(window.jmolApplet0, script1, script0, text, ischecked) }
                function jmolButton(script, text) { Jmol.jmolButton(window.jmolApplet0, script, text) }
                function jmolHtml(s) { document.write(s) };
                function jmolBr() { jmolHtml("<br>") }
                function jmolMenu(a) { Jmol.jmolMenu(window.jmolApplet0, a) }
              
                        
                //Adds button styling
                Jmol.setButtonCss(null,"style='display: inline;width: 100%;padding: .25rem 1.5rem;clear: both;font-weight: 400;color: #212529;text-align: inherit;white-space: nowrap;background-color: transparent;border: 0;'");
                       
                //Adds dropdown JSmol menu items to Colour Scheme menu
                $("#cDropdown").html(
                    Jmol.jmolButton("jmolApplet0", "color group", "Colour by residue") +
                    Jmol.jmolButton("jmolApplet0", "color structure", "Colour by structure")+
                    Jmol.jmolButton("jmolApplet0", "color cpk", "Colour by element")
                );

                //Adds dropdown JSmol menu items to Colour Scheme menu
                $("#rDropdown").html(
                    Jmol.jmolButton("jmolApplet0", "spacefill only;", "Space-fill") +
                    Jmol.jmolButton("jmolApplet0", "wireframe only;", "Wireframe")+
                    Jmol.jmolButton("jmolApplet0", "wireframe 0.3; spacefill off;", "Stick")+
                    Jmol.jmolButton("jmolApplet0", "spacefill only;spacefill 23%;wireframe 0.15", "Ball-and-stick")
                );

                //Adds dropdown JSmol menu items to Colour Scheme menu
                $("#saveBtns").html(
                    Jmol.jmolButton("jmolApplet0", "write FILE ?","Save PDB file")+
                    Jmol.jmolButton("jmolApplet0", "write IMAGE model.jpg","Save JPG")+
                    Jmol.jmolButton("jmolApplet0", "write IMAGE model.png","Save PNG")+
                    Jmol.jmolButton("jmolApplet0", "write model.jmol","Save Jmol")+
                    Jmol.jmolButton("jmolApplet0", "write STATE model.spt","Save state")
                );

                //Hides duplicate buttons
                var x = document.getElementsByName("jmolButton0");
                x[1].style.display = "none";
                x = document.getElementsByName("jmolButton1");
                x[1].style.display = "none";
                x = document.getElementsByName("jmolButton2");
                x[1].style.display = "none";
                x = document.getElementsByName("jmolButton3");
                x[1].style.display = "none";
                x = document.getElementsByName("jmolButton4");
                x[1].style.display = "none";
                x = document.getElementsByName("jmolButton5");
                x[1].style.display = "none";
                x = document.getElementsByName("jmolButton6");
                x[1].style.display = "none";
                x = document.getElementsByName("jmolButton7");
                x[1].style.display = "none";
                x = document.getElementsByName("jmolButton8");
                x[1].style.display = "none";
                 x = document.getElementsByName("jmolButton9");
                x[1].style.display = "none";
                x = document.getElementsByName("jmolButton10");
                x[1].style.display = "none";
                x = document.getElementsByName("jmolButton11");
                x[1].style.display = "none";
    </script>
    </div>
</body>
</html>