@*@{
    ViewBag.Title = "Home Page";
}*@

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta author="Imaan Dolley">
    <title>Glycano 3D</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>

    <script type="text/javascript" src="Scripts/JSmol.min.js"></script>
    
</head>
<body style="float:right; width: 50%; position: relative">
    <!--Main NavBar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%">
        <a class="navbar-brand" href="#">Glycano 3D</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <!-- Form with text field to input arguments to CarbBuilder -->
                    <form method="POST">
                        <label for="args" style="color: white">CASPER Notation: </label>
                        <input name="args" id="args" type="text">
                        <button id="submitButton" type="submit" class="btn btn-primary">Generate 3D</button>
                    </form>
                </li>
            </ul>

            <!-- Justified right Button 3 -->
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <!-- Button 1 -->
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 5px">
                            Colour Scheme
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="z-index: 10000">
                            <a class="dropdown-item" href="#">Elements</a>
                            <a class="dropdown-item" href="#">Amino group</a>
                            <a class="dropdown-item" href="#">Group</a>
                            <a class="dropdown-item" href="#">Structure</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <!-- Button 2 -->
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 5px">
                            Representations
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="z-index: 10000">
                            <a class="dropdown-item" href="#">Ball-and-stick</a>
                            <a class="dropdown-item" href="#">Trace</a>
                            <a class="dropdown-item" href="#">Cartoon</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <!-- Button 3 -->
                    <button type="button" class="btn btn-primary" style="margin-left: 5px">Save File</button>
                </li>
            </ul>
        </div>
    </nav>

    <script type="text/javascript">
        //Prevents X-Frame-Options Error
        delete Jmol._tracker;

        //Creates the applet and its border.
        jmol_isReady = function (applet) {
            Jmol._getElement(applet, "appletdiv").style.border = "1px solid pink";
            Jmol._getElement(applet, "appletdiv").style.position = "relative";

        }

        //Gives the JSmol specifications
        var InfoVar = {
            width: 700,
            height: 600,
            debug: false,
            color: "white",
            addSelectionOptions: false,
            serverURL: "http://glycano.azurewebsites.net/",
            use: "HTML5",
            jarPath: "Scripts/java",
            j2sPath: "Scripts/j2s",
            jarFile: "Scripts/java/JmolAppletSigned0.jar",
            isSigned: true,
            readyFunction: jmol_isReady,
            script: "",
            disableInitialConsole: true
        }
    </script>

    <script>
        $('#submitButton').click(function (event) {
            event.preventDefault();
            //-i ->2)aLRha(1->2)aLRha(1->3)aLRha(1->3)bDGlcNAc(1-> -r 6
            var args = $('#args').val();
            var data = { Value: args };

            $.ajax({
                type: "POST",
                data: "{data:" + JSON.stringify(data) + "}",
                url: "/Home/GetValue",
                contentType: 'application/json; charset:utf-8;',
                success: function (data) {
                    //Takes the given session ID filename received from the server
                    //Adds the PDB extension to the filename.
                    //window.xxxx = "Data/" + data + ".pdb";
                    alert(data);
                    //////Updates the JSmol script to reload the applet with the new Molecule File.
                    //window.script = 'load XXXX; cartoons on; color cpk;';
                    //window.script = window.script.replace(/XXXX/g, window.xxxx);
                    //window.InfoVar.script = window.script;

                    //window.InfoVar.serverURL = "http://glycano.azurewebsites.net/";


                    ////Changes the molecule displayed in the applet.
                    //Jmol.script(jmolApplet0, window.script);
                },
                error: function (XHR, text, errorThrown) {
                    //Throws an error if the post doesn't work
                    alert("Error: Molecule could not be retrieved.");
                }
            });

        });
    </script>

    <script type="text/javascript">
        //Functions for the JSmol buttons on the HTML
        function jmolCheckbox(script1, script0, text, ischecked) { Jmol.jmolCheckbox(window.jmolApplet0, script1, script0, text, ischecked) }
        function jmolButton(script, text) { Jmol.jmolButton(window.jmolApplet0, script, text) }
        function jmolHtml(s) { document.write(s) };
        function jmolBr() { jmolHtml("<br>") }
        function jmolMenu(a) { Jmol.jmolMenu(window.jmolApplet0, a) }
        var jmolApplet0 = Jmol.getApplet("jmolApplet0", InfoVar);

    </script>

    @*<form>
            <script type="text/javascript">
                // jmolButton("load ?","Load URL")
                // jmolBr()
                jmolCheckbox("set pdbAddHydrogens TRUE", "set pdbAddHydrogens FALSE", "with hydrogens", false)
                jmolBr()
                jmolButton("load ?", "Load FILE")
                jmolBr()
                jmolButton("write FILE ?", "Save FILE")
                jmolBr()
                jmolButton("write image jsmol.jpg", "Save JPG")
                jmolBr()
                jmolButton("write image jsmol.png", "Save PNG")
                jmolBr()
            </script>
        </form>

        <script type="text/javascript">
            jmolBr()
            jmolButton("color cpk")
            jmolButton("color group")
            jmolButton("color amino")
            jmolButton("color structure")
            jmolBr()
            jmolButton("trace only")
            jmolButton("cartoon only")
            jmolButton("backbone only")
            jmolButton("spacefill only;spacefill 23%;wireframe 0.15", "ball&stick")
            jmolBr()
                    // Jmol.setButtonCss(null,"style='width:160px'")
                    // jmolButton("Ramachandran relative")
                    // jmolButton("Quaternion difference")
                    // jmolBr()
        </script>*@

</body>
</html>